body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #121212; 
    color: #ffffff;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    font-size: 40px;
    font-weight: 300;
}

#output{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

.btn{
    flex-basis: calc(25% - 10px);
    margin: 5px;
    font-size: 30px;
    height: 72px;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    color: white;
}

.light,
.light.focus{
    background-color: #6c757d; 
}

.light:hover{
    background-color: #adb5bd; 
}


.blue,
.blue.focus{
    background-color: #0d6efd; 
}

.blue:hover{
    background-color: #3d8bfd; 
}


.dark,
.dark.focus{
    background-color: #343a40; 
}

.dark:hover{
    background-color: #495057; 
}
